/* Required for full background image */

html,
body,
header,
.view {
	height: 100%;
}

@media (max-width: 740px) {
	html,
	body,
	header,
	.view {
		height: 100vh;
	}
}

.top-nav-collapse {
	background-color: #000;
}

.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}

.navbar:not(.top-nav-collapse) {
	@media (max-width: 991px) {
		.navbar:not(.top-nav-collapse) {
			background: transparent !important;
		}
	}
}

.background-home{
	background-image: url('assets/mdb/img/cabides.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000;
}

.link {
		color: #000;
}

.link:hover {
    color: #000;
    background-color: #B9D3EE;
}
